.nav-bar {
    border-bottom: gray 1px solid;
    padding: 5px 0;

    .nav-bar-item {
        padding-right: 10px;
    }
}

.event-info-display-button-wrap {
    padding-top: 15px;
}

ul.loto-list {
    padding-inline-start: 5px;

    li {
        display: block;
    }
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .number {
        margin-right: 3px;

        &.event-info {

        }

        &.per_number {
            color: red;
        }

        &.bonus_number {
            color: blue;
        }
    }
}

.hidden {
    display: none;
}

